/**
 * Public definitions styles
 * @version 1.0.0
 * @author Israel Barragan reedyseth <reedyseth@gmail.com>
 */
.wp-motive-notification {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #02B500;
}
